.heading {
    width: auto ;
    text-align: inherit;
    margin-left: 25px;
    margin-top: 30px;

}

.container {
    margin-top: 25px;
    width: auto;
    text-align: center;
}

.name {
    background-color: lightblue;
    width: auto;
    text-align: left;
}