.heading {
    width: auto ;
    text-align: inherit;
    margin-left: 25px;
    margin-top: 30px;

}

.container {
    margin-top: 25px;
    background-size: 200px;
    width: auto;
    text-align: center;
}

.name {
    width: auto !important;
    text-align: left !important;
    margin-top: 50px;
    cursor: pointer;
    color: black;
}



.name:hover {
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    
}


body {
    background: url("./background.jpg");
    background-size: cover;
}
